// ---      VARIABLES
// primary colors
$Purple-50: hsl(260, 100%, 95%);
$Purple-300: hsl(264, 82%, 80%);
$Purple-500: hsl(263, 55%, 52%);
// Neutral
$White: hsl(0, 0%, 100%);
$Grey-100: hsl(214, 17%, 92%);
$Grey-200: hsl(0, 0%, 81%);
$Grey-400: hsl(224, 10%, 45%);
$Grey-500: hsl(217, 19%, 35%);
$Dark-blue: hsl(219, 29%, 14%);
$Black: hsl(0, 0%, 7%);
// Typography Body Copy
$Body-Font-size: calc(1rem * (13 / 16));

// INITIAL RULES
* {
  box-sizing: border-box;
  margin: 0;
}

// ---      MOBILE FIRST LAYOUT
body {
  background-color: $Grey-100;
  min-width: 20rem; // 320px
  padding-block: 5rem;
  padding-inline: clamp(1.5rem, 8.5333vw, 3rem);
}
.testimonials {
  max-width: 25rem;
  margin-inline: auto;

  // typography
  font-size: $Body-Font-size;
  font-weight: 500;
  font-family: "Barlow Semi Condensed", Arial, sans-serif, "Arial Narrow Bold";

  // arrange content
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .testimony {
    // box styles
    border-radius: 0.625rem;
    box-shadow: 2.5rem 3rem 2rem -1rem $Grey-200;

    // arrange content
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .profile {
      // arrange content
      display: flex;
      flex-direction: row;
      gap: 1rem;

      img {
        aspect-ratio: 1/1;
        height: 2rem;
        border-radius: 50%;
      }
      span {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          font-size: 0.9em;
        }
      }
    }
    .statements {
      // arrange content
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .highlight-statement {
        font-size: 1.5em;
        line-height: 1.2;
      }
      .quoted-statement {
        line-height: 1.4;
      }
    }
  }

  // individual background colors of testimonies
  .daniel-clifford {
    background-color: $Purple-500;
    img {
      border: 0.125rem solid $Purple-300;
    }
    grid-area: daniel;
  }
  .jonathan-walters {
    background-color: $Grey-500;
    img {
      border: 0.125rem solid $Grey-100;
    }
    grid-area: jonathan;
  }
  .jeannete-harmon {
    background-color: $White;
    img {
      border: 0.125rem solid $Grey-100;
    }
    grid-area: jeanette;
  }
  .patrick-abrams {
    background-color: $Dark-blue;
    img {
      border: 0.125rem solid $Purple-500;
    }
    grid-area: patrick;
  }
  .kira-whittle {
    background-color: $White;
    img {
      border: 0.125rem solid $Grey-100;
    }
    grid-area: kira;
  }
}

// --   FONT COLOR SCHEME
// white
.font-color-light {
  p {
    color: $Grey-200;
  }
  .name,
  .highlight-statement {
    color: $White;
  }
}
// dark
.font-color-dark {
  p {
    color: $Grey-400;
  }
  .name,
  .highlight-statement {
    color: $Grey-500;
  }
}
// lightgrey
.font-color-grey {
  p {
    color: $Grey-200;
  }
  .name,
  .highlight-statement {
    color: $Grey-200;
  }
}

// ---      TABLET LAYOUT: 768px
@media screen and (min-width: 48rem) {
  body {
    // arrange content
    min-height: 100vh;
    padding-inline: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonials {
    max-width: 36rem; // 576px
    
    // arrange content
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "daniel daniel"
      "jonathan jeanette"
      "patrick patrick"
      "kira kira";
  }
}

// ---      WIDESCREEN LAYOUT: 1248px
@media screen and (min-width: 78rem) {
  .testimonials {
    max-width: 74rem; // 1184px

    // arrange content
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
  }
}
